body {
	margin: 0;
	padding: 0;
}

header {
	padding-bottom: 10px;
	position: absolute;
	width: 100%;
}

nav {
	width: 100%;
	margin: auto;
}

nav ul {
	margin: 0;
	padding: 10px;
}

nav ul li {
	list-style: none;
	float: left;
	text-align: center;
	box-sizing: border-box;
	width: calc(100%/5);
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: white;
}

nav ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	padding-top: 10px;
	padding-bottom: 10px;
	color: red;
}

h1, h2 {
	text-align: center;
	font-size: 2.5em;
}

main {
	padding-top: 10px;
	position: absolute;
	top: 15%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

table {
	width: 70%;
	border: 3px solid silver;
	margin: 10px;
	text-align: center;
	border-collapse: collapse;
	font-size: 18px;
}

thead {
	border-bottom: 3px solid silver;
}

th { 
	border-right: 1px solid silver;
	padding: 12px;
}

td {
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	padding: 5px;
}

input[type=submit] {
	padding: 5px 10px 5px 10px;
	margin-top: 10px;
	font-size: 1.1em;
	font-weight: 900;
	border: 2px solid black;
	border-radius: 10px;
	transition: 0.5s;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: lightblue;
}

select {
	padding: 5px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
	border: 2px solid black;
	border-radius: 20px;
	text-align: center;
	width: 60%;
}

.form-wrapper {
	padding: 15px;
	border: 2px solid silver;
	text-align: center;
}

.link-wrapper {
	align-self: flex-end;
	margin-right: 15%;
	padding-top: 10px;
}

#text-box {
	padding: 5px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
	border: 2px solid black;
	border-radius: 20px;
	text-align: center;
	width: 55%;
	transition: 0.5s;
}

#text-box:focus {
	width: 75%;
	border-color: silver;
}

#link {
	text-decoration: none;
	color: blue;
}

#button {
	text-decoration: none;
	padding: 5px;
	border: 2px solid black;
	background-color: #DCDCDC;
	font-size: 17px;
	font-weight: 800;
	color: black;
	transition: 0.5s;
	margin-left: 6px;
}

#button:hover {
	background-color: lightcyan;
	color: red;
}

#link:hover {
	color: red;
}

#dropdown {
	width: 90%;
}