@model crud_operations.Models.Project

@{ 
	ViewData["Title"] = "Create new project";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new project</h2>

<div class="form-wrapper">
	<form action="/Project/CreateNewProject" method="post">
		@Html.ValidationSummary(true)

		<div>
			@Html.TextBoxFor(model => model.ProjectName, new { @placeholder = "Project name", @id = "text-box"})
		</div>
		<div>
			<input type="submit" value="Create" />
		</div>
	</form>
</div>

<div class="link-wrapper">
	<a id ="button" href="/Project/Index">Go back</a>
</div>