@model crud_operations.Models.ProjectToStudent

@{ 
	ViewData["Title"] = "Create new instance";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new instance</h2>

<div class="form-wrapper">
	<form action="/Project/CreateNewInstance" method="post">
		@Html.ValidationSummary(true)

		<div>
			@Html.DropDownList("ProjectID", (SelectList)ViewBag.ProjectID, "Select project", new { @id = "dropdown"} )
		</div>
		<div>
			@Html.DropDownList("StudentID", (SelectList)ViewBag.StudentID, "Select student", new { @id = "dropdown" })
		</div>
		<div>
			<input type="submit" value="Create" />
		</div>
	</form>
</div>

<div class="link-wrapper">
	<a id="button" href="/Project/ProjectsToStudents">Go back</a>
</div>
